@mixin about-me-side ($side-column, $side-row) {
    grid-column: $side-column;
    grid-row: $side-row;
    background: #F6E8EA;
}

#about-me {
    background: url('../images/about-me-background.jpg');
    background-size: cover;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(7, auto);

    .vertical-text {
        text-align: center;
        writing-mode: vertical-rl;
        transform:rotate(180deg);
        border-radius: 120px;
    }

    .hamish-side {
    @include about-me-side((1 / span 1), (1 / span 4));
    }

    .skills-side {
    @include about-me-side((3 / span 1), (4 / span 5));
    }

    .item {
        grid-column: 2 / span 1;
        background: #4D6CFA;
        border-radius: 40px;
        text-align: center;
    }

    // Empty space for balance
    #blank {
        background: none;
    }
}

