#fake-container {
    z-index: -10;
    position: absolute;
}
#about-me {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;

    #square {
        width: 200px;
        height: 200px;
        background: #E00321;
        text-align: center;
    }

    #circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #00ADFF;
        overflow: hidden;
        text-align: justify;
        -webkit-shape-inside: polygon(20% 20%, 0 300px, 300px 300px);
    }

    #triangle {
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 200px solid #FFFF00;
        text-align: center;
    }

    .shape-text {
        position: relative;
    }

    .about-me-header {
        background: #4D6CFA;
        border-radius: 40px;
        width: 200px;

        h4 {
            font-size: 2em;
        }
    }

    .item {
        width: 300px;
        padding-top: 100px;
    }

    // Empty space for balance
    #blank {
        background: none;
    }

    .skills {
        min-height: 80vh;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-items: center;

        @mixin about-me-icons($col, $row) {
            grid-column: $col;
            grid-row: $row;
        }

        #ruby {
            @include about-me-icons((1 / span 1), (1 / span 1));
        }

        #rails {
            @include about-me-icons((3 / span 1), (1 / span 1));
        }

        .skills-header {
            @include about-me-icons((2 / span 1), (2 / span 1));
            background: #4D6CFA;
            border-radius: 40px;
        }

        #html {
            @include about-me-icons((1 / span 1), (3 / span 1));
        }

        #bootstrap {
            @include about-me-icons((3 / span 1), (3 / span 1));
        }

        .skills-item {
            // padding-top: 50px;

            img {
                max-width: 120px;
                max-height: 120px;
            }
        }
    }
}