footer {
    #contact {

        .centre-heading {
            text-align: center;

            a {
                padding-right: 5px;
            }
        }

        h2 {
            font-family: 'yellowtail';

            @media (min-width: 767px) {
                font-size: 3em;
              }
        }

        img {
            width: 50px;
            height: auto;

            @media (min-width: 767px) {
                width: 75px;
            }
        }

        .copyright {
            font-family: 'montserrsat';
        }
    }
}

