footer {
    .centre-heading {
        text-align: center;
    }

    h2 {
        font-family: 'yellowtail';
    }

    img {
        width: 30%;
        height: auto;
    }

    .copyright {
        font-family: 'montserrsat';
    }
}

