body {
    background-image: linear-gradient(to top, #8B81B1 0%, #E1D9FF 100%);
    background-attachment: fixed;
    overflow-x: hidden;
}

h1, h3 {
    font-family: 'yellowtail';
}

#home {
    height: 100vh;
    width: 100%;

    .home-screen {
        width: 100%;
    }

    // .middle-picture {
    //     width: 100%;
    // }

    img {
        min-width: 75%;
        height: auto;
        margin: auto;
    }

    .tagline {
        text-align: center;

        .name-title {
            font-size: 4em;
        }

        .job-title {
            font-family: 'montserrsat'
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #home {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
    }
}


