body {
    background-image: linear-gradient(to top, #8B81B1 0%, #E1D9FF 100%);
    background-attachment: fixed;
}

#home {
    height: 100vh;
    width: 100%;

    img {
        width: 60vh;
        margin: auto;
    }

    .tagline {
        text-align: center;

        .name-title {
            font-family: 'yellowtail';
            font-size: 4em;
        }

        .job-title {
            font-family: 'montserrsat'
        }
    }
}


