body {
    background-image: linear-gradient(to top, #8B81B1 0%, #E1D9FF 100%);
    background-attachment: fixed;
}

h1, h3 {
    font-family: 'yellowtail';
}

#home {
    height: 100vh;
    width: 100%;
    
    .home-screen {
        width: 100%;
    }

    img {
        @media (max-width: 991.98px) {
        min-width: 70%;
        height: auto;
        }
    }

    .tagline {
        text-align: center;

        .name-title {
            font-size: 4em;
        }

        .job-title {
            font-family: 'montserrsat'
        }
    }
}

.floating-links {
    display: none;

    @media (min-width: 992px) {
        display: inline-block;
    }

    #float-about {
        position: absolute;
        left: 47%;
        top: 10vh;
    }

    #float-previous {
        position: absolute;
        left: 5%;
        top: 50vh;
    }

    #float-contact {
        position: absolute;
        right: 5%;
        top: 500px;
    }

    p {
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        border: #000;
        border-style: solid;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        color: azure;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    img {
        width: 500px;
        height: auto;
    }
}





