@import url('https://fonts.googleapis.com/css?family=Montserrat|Yellowtail');

$cyan: #66CCCC;
@import 'navbar';
@import 'home';
@import 'about-me';
@import 'previous-work';
@import 'footer';




// background: url("../images/landing-page.jpg") no-repeat center center fixed;