#fake-container {
    z-index: -10;
    position: absolute;
}

#about-me {
    min-height: 100vh;
    overflow: hidden;
    margin-bottom: 75px;
    text-align: center;

    .svg-shape {
        @media (max-width: 767.9px) {
        width: 100%;
        height: 250px;
        }
    }

    .svg-size {
        height: 225px;
    }

    text {
        fill: black;
        font-size: 20px;
        font-family: 'montserrsat';
    }

    #diamond {
        y: 25%;
        width: 45%;
        height: 130px;
        fill: #4D6CFA;
        transform: rotate(45deg);
        transform-origin: bottom;
    }

    #diamond-text {
        font-size: 30px;
    }

    #square {
        width: 70%;
        height: 180px;
        x: 15%;
        fill: #E00321;
    }

    #circle {
        cx: 50%;
        cy: 50%;
        r: 40%;
        fill: #00ADFF;
    }

    #triangle {
        fill: #FFFF00;
    }
    
    .shapes {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 32%);
            grid-template-rows: repeat(3, auto);
    
            @mixin big-screen ($col, $row){
                grid-column: (($col) / span 1);
                grid-row: (($row) / span 1);
            }

            #centre-grid {
                @include big-screen(2, 2);
            }

            #top-left-grid {
                @include big-screen(1, 1);
            }
    
            #top-right-grid {
                @include big-screen(3, 1);
            }

            #bottom-right-grid {
                @include big-screen(3, 3);
            }

            #centre-target, #top-right-target, #bottom-right-target, #top-left-target {
                position: relative;
                left: 50%;
                top: 50%;
                width:0px;
                height:0px;
            }
        }
    }


    .skills {
        min-height: 80vh;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-items: center;

        @mixin about-me-icons($col, $row) {
            grid-column: $col;
            grid-row: $row;
        }

        #ruby {
            @include about-me-icons((1 / span 1), (1 / span 1));
        }

        #rails {
            @include about-me-icons((3 / span 1), (1 / span 1));
        }

        .skills-header {
            @include about-me-icons((2 / span 1), (2 / span 1));
            background: #4D6CFA;
            border-radius: 40px;
        }

        #html {
            @include about-me-icons((1 / span 1), (3 / span 1));
        }

        #bootstrap {
            @include about-me-icons((3 / span 1), (3 / span 1));
        }

        .skills-item {

            img {
                max-width: 120px;
                max-height: 120px;

                @media (min-width: 767px) and (max-width: 991.98px) {
                    max-width: 240px;
                    max-height: 240px;
                }
            }
        }
    }

    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
}